* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #4a6baf;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .inputt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 50px auto;
} */

.inputt {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.form-control {
    border: 2px solid #d1d9e6;
    border-radius: 8px;
    padding: 12px 15px;
    margin-bottom: 15px;
    font-size: 16px;
    transition: all 0.3s;
}

.btn {
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 600px;
    transition: all 0.3s;
    border: none;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contact-name {
    font-weight: bold;
    color: #4a6baf;
    font-size: 20px;
    margin-bottom: 5px;
}

.res{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}